body{
   background-image: url("https://wallpapers.com/images/featured/plant-background-mh4y9mexexlv960o.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
h1,h2,p,a{
    color: white;
    text-align: left;
    
}
img{
   
    text-align: right;
    inline-size: auto;
}
